@font-face{
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    src: url(fonts/roboto\ slab/RobotoSlab-VariableFont_wght.ttf);
    font-family: inter;
    font-family: roboto;
}
body{
    background: #fafbfe;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/* Header */
header div{
    display: flex;
    width: 80%;
    height: 70px;
    margin: 10px auto ;

    justify-content: space-between;
    font-size: 24px;
    margin-left: auto;
    color: #445578;
}
header{

    box-shadow: rgba(53, 47, 47, 0.2) 0px 1px;
}
a>img{
    margin: 10px auto;
    height: fit-content;
    margin-left: 60px;
    height: 40px;
    align-items: center;
}
.head a{
    text-decoration: none;
}
.head+a{
    text-decoration: none;
}

/* body and 











first div */
.parent{
    display: flex;
}
.points{
    height: 100%;
    width: 30%;
}
.static-list h2{
    margin: 10px;
    font-weight: 100px;
}
.static-list li{
    font-size: 20px;
    line-height: 25px;
    color: #445578;
    padding: 20px 20px 20px 60px;
}
.static-list{
    width: 400px;
    height: 400px;
    margin: 255px 300px;
    background: #fff;
    border: 1px dashed #d3e1ea;
    border-radius: 20px 14px;
    padding: 65px 32px 32px;
    position: relative;
}

.static-list img {
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    margin: auto;
    position: absolute;
    height: 130px;
    width: 150px;
}

.right-corner{
    width:70%;

    float: right;
}

.content:last-child{
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    word-spacing: 1px;
    display: flex;
    justify-content: space-evenly;
    margin:auto ;
    margin-top: 0px;
    
}
/* form page 






*/

.formTag{
    padding: 0px 20px 0px 0px;
    background-color: #fff;
    width: 100%;
}

.inner-input{
    margin-top: 10px;
    padding: auto;

}
.atr{
    color: #445578;
    margin-top: 4px;
    height: fit-content;
    
}

input{
    display: block;
    width: 100%;
    height: 80px;
    margin: 30px 0px 10px 0px;
    font-size: 25px;
    
}


#name{
    margin-bottom: 50px;
}


.shiftright{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:80% ;
    margin: 50px 0px auto 800px;
    background-color: white;
    padding: 50px ;
    font-size: 20px;
}
.__assitive{
    margin-top: 4px;
    margin-bottom: 50px;
}
.form-title{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: roboto;
    font-size:xxx-large;
    height: 60px;

}
form{
    display: block;
    
    text-align: start;
      
}

.formField-num{
    display: flex;
}
.formhead{
    font-family: inherit;
    text-align: justify;
    width: 90%;
    margin-bottom: 50px;
    margin-right: 50px;
}

.experience{
    display: flex;
    margin-bottom: 30px;
}
.worked{
    display: flex;
    margin-right: 20px;
    text-align: left;
    box-shadow: rgba(53, 47, 47, 0.2) 1px 1px 0px 0px;
    width: fit-content;
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    border: 2px solid #d3e1ea;
}

.textWrap>h2{
    align-items: center;
    line-height: 25px;
    margin-top: 0px;
    height: fit-content;
}
.main-3{
    color: #457eff;
    
}
.main-3{
    color: #457eff;
}
.bag{
    height: 100px;
    height: 50px;
    margin: auto 10px ;
    
}
.bag2{
    height: 100px;
    height: 50px;
    margin: auto 10px ;
}
.fresher{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 5px;
    text-align: left;
    box-shadow: rgba(53, 47, 47, 0.2) 1px 1px 0px 0px;
    width: fit-content;
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    border: 2px solid #d3e1ea
    
}

.labelClass{
    color: #445578;
    font-weight: bold;
    font-size: 20px;
    height: fit-content;
    margin-bottom: 20px;
    
}
.doc-info{
    color: #4e5c7a;
    margin-right: 10px;
    opacity: 0.8;
}
.resume{
    color: #445578;
    font-size: 20px;
    margin-bottom: 40px;
}
.resume-upload{
    margin-top: 30px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: fit-content;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(53, 47, 47, 0.2) 0px 0px 0px 1px;
    
    
    
}

.uploadResume{
    background: #ff7555;
    height: 40px;
    border-radius: 28px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 12px;
    margin-right: 10px;
    color: #fff;
    border:none;
    text-align: center;
    padding: 10px 10px 20px 10px;

}
.whatsappImg{
    width: 20px;
    height: 20px;
}

.formField-ref{
    margin-top: 30px;
    margin-bottom: 40px;
    color: #445578;
    font-size: 20px;
}

.submitButton{
    margin: 5px;
    background-color: #457eff;;
    height: fit-content;
    padding: 25px 20px ;
    border-radius: 100px;
    font-weight: 700;   
    margin-right: 10px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 28px ;
    border: none;
}
.T-C {
    color: #445578;
    font-size: 16px;
    margin-bottom: 10px;
}
.T-C a{
    color: #457eff;
}
/* thrid div












*/
.gbutton{
    margin: 5px;

    text-align: center;
    border-radius: 20px;
    padding: 7px 16px;
    color: #457eff;
    border: 1px solid #457eff;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gsignup{
    width: 153px;
    position: relative;
    top: -430px;
    text-align: center;
    border-left: 2px solid #d3e1ea;
    height: 353px;
    margin: 0px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .google-block{

    margin-right: -40px;
} 

.gspan1{
    font-weight: 600;
    color: #445578;
    height: 33px;
    border: 1px solid #d3e1ea;
    padding: 6px 8px;
    border-radius: 50%;
    background: #fff;
    margin-left:0px 0px 0px -16px;
}
.gspan2{
    font-size: 18px;
    line-height: 18px;
}
.gspan3{
    color: #445578;
    font-weight: 600;
}
.gImg{
    
    width: 35px;
    height: 35px;
    margin: 7px 0px 7px 7px;
}
.google-text{
    margin-left: 12px;
    line-height: 22px;
    font-weight: 600;
    font-size: 26px ;
}
/* Footer





*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    width: auto;
    margin: 42px auto 110px 950px;
    
}
footer a{
    color: #457eff ;

    text-decoration: none;
}
footer li{
    display: inline-flex;
    margin: 10px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}